<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">

    <parameter name="OperativeSystem" value="windows"></parameter>
    <parameter name="url" value="https://gelsons-staging.sunnybyte.review/catering"></parameter>

    <test name="Test">
        <classes>
            <class name="UITests.TestClass"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
